#particles-js {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

#profile-image {
  border-radius: 500px;
  height: 100%;
}
.profile-image-container {
  padding: 20px;
  height: 40%;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #fbf820;
}

html {
  -webkit-tap-highlight-color: rgb(255, 255, 255);
}

body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#name {
  margin: 0;
  font-size: 0.8em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

hr {
  font-weight: 800;
  font-size: 3em;
  color: white;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

#description {
  font-size: 0.4em;
}

canvas {
  display: block;
}

#comingSoon {
  color: rgb(208, 255, 0);
  font-family: "Raleway", sans-serif;
  padding: 20px;
  flex-flow: column;
  flex: 0 35%;
  min-width: 320px;
  height: 80%;
  background: rgba(219, 211, 211, 0);
  /* background: #020202; */
  z-index: 3;
  border-radius: 20px;
  text-align: center;
  font-size: 3rem;
  display: flex;
  align-items: center;
  pointer-events: none;
}

@media (max-width: 600px) {
  #name {
    font-size: 0.6em;
  }
  #description {
    font-size: 0.35em;
  }
}

#link-container {
  display: flex;
  justify-content: space-evenly;
}

#link-container a {
  font-size: 1.8em;
  color: rgb(217, 221, 0);
  pointer-events: all;
}
